body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-weight: bolder;
  font-size: 16px;
  padding-left: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding: 8px;
  
}
.title , 
.content ,
 .button-container{
margin: 8px;
padding: 8px;
}